<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccommodationMapper">
	<!-- 숙박시설 추가하기 -->
	<insert id="insertAccommodation" parameterType="Accommodation">
	<selectKey keyProperty="accommodationNo" resultType="int" order="BEFORE">
	    	select accommodation_seq.nextval from dual
	</selectKey>
		<![CDATA[
			insert into accommodation values(#{accommodationNo}, #{accommodationName}, #{accommodationAddress}, 
			#{accommodationImg}, #{accommodationPhone}, #{accommodationDirections}, #{siteNo}, #{ownerNo})
		]]>
	</insert>
	<!-- 숙박시설 수정하기 -->
	<update id="updateAccommodation" parameterType="Accommodation">
		<![CDATA[
			update accommodation set accommodation_name=#{accommodationName}, accommodation_address=#{accommodationAddress},
			accommodation_img=#{accommodationImg}, accommodation_phone=#{accommodationPhone}, 
			accommodation_directions=#{accommodationDirections}, site_no=#{siteNo} where owner_no=#{ownerNo} and accommodation_no=#{accommodationNo}
		]]>
	</update>
	<!-- 숙박시설 삭제하기 -->
	<delete id="deleteAccommodation" parameterType="int">
		<![CDATA[
			delete from accommodation where accommodation_no=#{accommodationNo}
		]]>
	</delete>
	<!-- 시설명별 시설번호 조회하기 -->
	<select id="selectByAccommodationNo" parameterType="String" resultType="int">
		<![CDATA[
			select accommodation_no from accommodation where accommodation_name=#{accommodationName}
		]]>
	</select>
	<!-- 시설번호별 관광명소번호 조회하기 -->
	<select id="selectBySiteNo" parameterType="int" resultType="int">
		<![CDATA[
			select site_no from accommodation where accommodation_no=#{accommodationNo}
		]]>
	</select>
	<!-- 시설번호별 업주번호 조회하기 -->
	<select id="selectByOwnerNo" parameterType="int" resultType="int">
		<![CDATA[
			select owner_no from accommodation where accommodation_no=#{accommodationNo}
		]]>
	</select>
	<!-- 숙박시설 페이지별 조회하기 -->
	<select id="selectAllAccommodation" parameterType="HashMap" resultType="Accommodation">
		<![CDATA[
			select t2.* from(select rownum rnum, t1.* from
			(select accommodation_no, accommodation_name, accommodation_address, accommodation_img, 
			accommodation_phone, accommodation_directions, site_no, owner_no 
			from accommodation order by accommodation_no desc)t1)t2 where rnum between #{startRow} and #{lastRow}
		]]>
	</select>
	<!-- 숙박시설 오너별 페이지별 조회하기 -->
	<select id="selectByOwnerNoAccommodation" parameterType="HashMap" resultType="Accommodation">
		<![CDATA[
			select t2.* from(select rownum rnum, t1.* from
			(select accommodation_no, accommodation_name, accommodation_address, accommodation_img, 
			accommodation_phone, accommodation_directions, site_no, owner_no 
			from accommodation where owner_no=#{ownerNo} order by accommodation_no desc)t1)t2 where rnum between #{startRow} and #{lastRow}
		]]>
	</select>
	<!-- 숙박시설 번호별 조회 -->
	<select id="findByAccommodation" parameterType="int" resultType="Accommodation">
		<![CDATA[
			select*from accommodation where accommodation_no=#{accommodationNo}
		]]>
	</select>
	<!-- 숙박시설 번호별 여러번 조회 -->
	<select id="findAllAccommodation" parameterType="int" resultType="Accommodation">
		<![CDATA[
			select*from accommodation where accommodation_no=#{accommodationNo}
		]]>
	</select>
	<!-- 기본키MAX값 조회하기 -->
	<select id="findByAccommodationMax" resultType="int">
		<![CDATA[
			select max(accommodation_no)from accommodation
		]]>
	</select>
	<!-- 숙박명별 조회하기 -->
	<select id="selectByAccommodation" parameterType="String" resultType="Accommodation">
		<![CDATA[
			select * from accommodation where accommodation_name=#{accommodationName}
		]]>
	</select>
	<!-- DB개수 조회하기 -->
	<select id="selectByMax" resultType="int">
		<![CDATA[
			select count(*)from accommodation
		]]>
	</select>
</mapper>