<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgegroupMapper">
	<!-- 1.연령대 추가 -->
	<insert id="insertAgegroup" parameterType="Agegroup">
		insert into agegroup(agegroup_no,agegroup_standard,agegroup_standard_no)
		values(#{agegroupNo},#{agegroupStandard},#{agegroupStandardNo})
	</insert>
	
	<!-- 2.연령대 수정 -->
	<update id="updateAgegroup" parameterType="Agegroup">
		update agegroup set agegroup_standard=#{agegroupStandard} 
	</update>
	
	<!-- 3.연령대 삭제 -->
	<delete id="deleteAgegroup" parameterType="int">
		delete from agegroup where agegroup_no=#{agegroupNo}
	</delete>
	
	<!-- 4. 연령대최대번호 -->
	<select id="MaxAgegroupNo" resultType="int">
		select max(agegroup_no)+1 from agegroup
	</select>
</mapper>