<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeBoardCommentMapper">
<!-- 1. 댓글 작성 -->
	<insert id="insertComment" parameterType="FreeBoardComment">
		<selectKey keyProperty="freeboardCommentNo" resultType="int" order="BEFORE">
		select freeboard_Comment_seq.nextval from dual
		</selectKey>
			<![CDATA[
				insert into freeboard_Comment(freeboard_Comment_no, freeboard_Comment_content, freeboard_Comment_date,freeboard_No,member_No)
				values(#{freeboardCommentNo}, #{freeboardCommentContent}, sysdate, #{freeboardNo},#{memberNo})
			]]>
		</insert>
<!-- 2. 자유게시판 번호 별 댓글 조회 -->
	<select id="selectCommentList" parameterType="int" resultType="FreeBoardComment">
		<![CDATA[
			select * from freeboard_comment where freeboard_no=#{freeboardNo} order by freeboard_Comment_no desc
		]]>
	</select>
<!-- 3. 댓글 수정 -->
	<update id="updateComment" parameterType="FreeBoardComment">
		<![CDATA[
			update freeboardComment set freeboard_content=#{freeboardCommentTitle} where member_no=#{memberNo}
		]]>
	</update>
<!-- 4. 댓글 삭제(단일 삭제) -->
	<delete id="deleteComment" parameterType="HashMap">
		<![CDATA[
			delete from freeboard_Comment where freeboard_Comment_No=#{freeboardCommentNo} and member_no=#{memberNo}
		]]>
	</delete>
<!-- 5. 자유게시판 번호 별 댓글 전체 삭제하기(전체삭제) -->
	<delete id="deleteAllComment" parameterType="int">
		<![CDATA[
			delete from freeboard_comment where freeboard_no=#{freeboardNo}
		]]>
	</delete>
<!-- 6. 자유게시판 댓글 번호별 자유게시판 번호 조회 -->
	<select id="selectfreeboardCommentNo">
		<![CDATA[
			select freeboard_No from freeboard_Comment where freeboard_Comment_no=#{freeboardCommentNo}
		]]>
	</select>
</mapper>