<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeetingBoardCommentMapper">

	<!-- 댓글 목록 게시판 별로 가지고 오기 -->
	<select id="selectMeetingBoardCommentList" resultType="MeetingBoardComment"
		parameterType="int">

<![CDATA[



select c.meetingboard_comment_no, c.meetingboard_comment_content, 

c.meetingboard_comment_date, b.member_name, c.member_no, c.meeting_no,c.meetingboard_no

from meetingboard_comment c, member b 

where c.member_no= b.member_no

 and 

c.meetingboard_no=#{meetingboardNo}




]]>

	</select>


	<!-- 댓글 추가하기 -->
	<insert id="insertMeetingBoardComment" parameterType="MeetingBoardComment">
		<selectKey keyProperty="meetingboardCommentNo" resultType="int"
			order="BEFORE">
			select meetingboard_comment_seq.nextval from dual
		</selectKey>
	<![CDATA[
 	insert into meetingboard_comment
	(meetingboard_comment_no, meetingboard_comment_content, meetingboard_comment_date, 
	meetingboard_no, meeting_no, member_no)
 	values(#{meetingboardCommentNo}, #{meetingboardCommentContent},
            sysdate, #{meetingboardNo}, #{meetingNo}, #{memberNo})
]]>

	</insert>

	<!-- 댓글 삭제 하기 <delete id="deleteMeetingboardComment" parameterType="int"> 
		<![CDATA[ delete from meetingboard_comment where meetingboard_comment_no=#{meetingboardCommentNo} 
		and member_no = #{memberNo} ]]> </delete> -->

	<!-- 댓글 삭제 하기 유저용 모임삭제시-->
	<delete id="deleteMeetingboardComment" parameterType="int">
	<![CDATA[
	
	delete from meetingboard_comment where member_no=#{memberNo}
	 and meetingboard_comment_no=#{meetingboardCommentNo}
	]]>

	</delete>
	
	
	<!-- 게시판별 댓글 갯수  -->
	<select id="selectMeetingBoardCommentCnt" parameterType="int" resultType="int">
	<![CDATA[
		
	select count(meetingboard_comment_no) from meetingboard_comment where meetingboard_no=#{meetingboardNo}
	]]>
	
	</select>
	
	
	<!-- 댓글삭제 게시판 만든 사람용 -->
		<delete id="deleteMeetingMeetingboardComment" parameterType="int">
	<![CDATA[
	
	delete from meetingboard_comment where
	 meetingboard_no=#{meetingboardNo}
	]]>

	</delete>



	<!-- 댓글 삭제 하기 관리자용 -->
	<delete id="deleteMeetingboardCommentAdmin" parameterType="int">
	<![CDATA[
	delete from meetingboard_comment where meeting_no=#{meetingNo}
	]]>

	</delete>



</mapper>
