<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MeetingJoin">
	<!-- 1. 모임 가입하기-->
	<insert id="insertMeetingJoin" parameterType="MeetingJoin">
		<![CDATA[
		insert into meeting_join(member_no, meeting_no)
		values(#{memberNo}, #{meetingNo})
		]]>
	</insert>

	<!-- 2. 모임탈퇴 -->
	<delete id="deleteMeetingJoin" parameterType="int">
		<![CDATA[
			delete from meeting_join where member_no=#{memberNo})
		]]>
	</delete>	
<!-- 3. 가입한 모임 보기 -->
	<select id="selectMyMeeting" parameterType="int" resultType="MemberMeeting">
		<![CDATA[
			select m.meeting_name, m.meeting_img, 
			m.meeting_total_number from meeting_join j, member_meeting m 
			where m.meeting_no=j.meeting_no and j.member_no=#{member_no}

		]]>
		
		
		</select>
</mapper>
	