<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMeetingMapper">

	<!-- 모임생성 완료-->
	<insert id="insertMemberMeeting" parameterType="MemberMeeting">
		<selectKey keyProperty="meetingNo" resultType="int" order="BEFORE">
			select member_meeting_seq.nextval from dual
		</selectKey>
		<![CDATA[
			insert into member_meeting(meeting_no, meeting_name, meeting_img, meeting_total_number, meeting_admin_no) 
			values(#{meetingNo}, #{meetingName}, #{meetingImg}, 0, #{meetingAdminNo})
		]]>
	</insert>
	
	<!-- 모임수정 -->
	<update id="updateMeetingName" parameterType="int">	
		<![CDATA[
		update member_meeting set meeting_name=#{meetingName}, meeting_img=#{meetingImg}
		 where meeting_admin_no=#{memberNo} and meeting_no=#{meetingNo}
		 ]]>
	</update>
	
		<!-- 모임 세부정보 보기 완료-->
	<select id= "selectMeetingView" resultType="MemberMeeting" parameterType="int">
		<![CDATA[
			select meeting_no, meeting_name, meeting_img, meeting_total_number, meeting_admin_no
			from member_meeting where meeting_no=#{meetingNo}
		]]>
	
	</select>	
	
	<!-- 모임삭제 (유저용)-->
	<delete id="deleteMemberMeetingUser" parameterType="Int">
		<![CDATA[
			delete from member_meeting where meeting_no=#{meetingNo}
			 and meeting_admin_no=#{memberNo}
		]]>	
	</delete>
	
	<!-- 모임삭제 (관리자용)-->
	<delete id="deleteMemberMeeting" parameterType="Int">
		<![CDATA[
			delete from member_meeting where meeting_no=#{meetingNo}
		]]>	
	</delete>


	
	<!-- 모임 리스트 출력 완료 -->
	<select id = "selectAllMemberMeetingList" resultType="MemberMeeting">
		<![CDATA[
			select meeting_no, meeting_name, meeting_img, meeting_total_number, meeting_admin_no
			from member_meeting
		]]>		
		
		</select>
	
	<!-- 모임명으로 검색  -->
	<select id = "selectMeetingName" parameterType="String" resultType="MemberMeeting">
	<![CDATA[
		select meeting_no, meeting_name, meeting_total_number, meeting_img 
		from member_meeting where member_meeting = #{meetingName} desc
	]]>
	</select>
			
	<!-- 모임 인원수별 리스트 보기 -->			
	<select id = "selectMeetingTotal" parameterType="int" resultType="MemberMeeting">
	<![CDATA[
		select meeting_no, meeting_name, meeting_total_number 
			from member_meeting order by member_total_number =#{meetingTotalNumber}	
	]]>
	</select>

	
	<!-- 내가 가입한 모임 보기 -->
	<select id ="selectMyMeeting" parameterType="int" resultType="MemberMeeting">
	<![CDATA[
			select m.meeting_no, m.meeting_name, m.meeting_img, 
			m.meeting_total_number, m.meeting_admin_no from meeting_join j, member_meeting m 
			where m.meeting_no=j.meeting_no and j.member_no=#{member_no}
		]]>
	</select>	
	
	<select id="selectMaxMeetingNo" resultType="int">
		<![CDATA[
			select max(meeting_no+1) from member_meeting
		
		]]>
	
	</select>
	
	
				
</mapper>