<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageMapper">
<!-- 
	private	int	messageNo;					//	쪽지번호	
	private	String messageReceiveId	;		//	수신인아이디
	private	String messageSendId;			//	발신인아이디
	private	String messageTitle	;			//	쪽지제목
	private	String messageContent;			//	쪽지내용
	private	Date messageDate;				//	보낸날짜
	private	Date messageReceiveDate;		//	수신인 읽은날짜
	private	int	messageReceiveCheck;		//	수신인 쪽지 확인여부
	private	int	memberId;					//	회원번호
 -->
 <!-- 1. 쪽지 발송하기(추가하기) -->
 <!-- 
 	수신인 읽은날짜: 0일때 (안읽음)=> insert때 강제지정
 					 1일때 (읽음)
  -->
 <insert id="insertMessage" parameterType="Message">
 	<selectKey keyProperty="messageNo" resultType="int" order="BEFORE">
	    select message_seq.nextval from dual
	</selectKey>
	<![CDATA[
		insert into message(message_no, message_receive_id, message_send_id, message_title, message_content,
		message_date, message_receive_date, message_receive_check, member_id)values
		(#{messageNo}, #{messageReceiveId}, #{messageSendId}, #{messageTitle}, #{messageContent},
		sysdate, #{messageReceiveDate, jdbcType=DATE}, 0, #{memberId})
	]]>	
 </insert>
 
 <!-- 2. 수신인 읽은날짜, 확인여부 적용수정 -->
 <update id="updateMessage">
 	<![CDATA[
 		update message set message_receive_date=
 	]]>
 </update>
</mapper>