<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siteCommentMapper">

<!-- 1.관광지 댓글 추가 -->
	<insert id="insertSiteComment" parameterType="SiteComment">
		<selectKey keyProperty="siteNo" resultType="int" order="BEFORE">
			select site_comment_seq.nextval from dual
		</selectKey>
		<![CDATA[
			insert into site_comment(site_comment_no,site_comment_content,site_comment_date,member_no,site_no)
			values(#{site_comment_no},#{site_comment_content},sysdaye,#{memeber_no},#{site_no})
		]]>
	</insert>
<!-- 2.관광지 댓글 수정 -->
	<update id="updateSiteComment" parameterType="SiteComment">
		update site_comment set site_comment_content=#{site_comment_content} where site_no=#{site_no}
	</update>
<!-- 3.관광지 댓글 삭제 -->
	<delete id="deleteSiteComment" parameterType="HashMap">
		delete from site_comment where member_no=#{member_no} and site_no=#{site_no}
	</delete>
<!-- 4.관광지 댓글 전체 삭제 -->
	<delete id="deleteAllSiteComment" parameterType="int">
		delete from site_comment where site_no=#{site_no}
	</delete>
<!-- 5.관광지 댓글 조회 -->
	<select id="selectSiteCommetn" parameterType="int" resultType="SiteComment">
		select site_comment_content , site_comment_date from site_comment where site_no=#{site_no}
	</select>
</mapper>