<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TicketMapper">
	<!-- 1.티켓 추가 -->
	<insert id="insertTicket" parameterType="Ticket">
		insert into ticket(agegroup_no,site_no,ticket_price)
		values(agegroup_no=#{agegroup_no},site_no=#{site_no},ticket_price=#{ticket_price})
	</insert>
	
	<!-- 2.티켓 수정 -->
	<update id="updateTicket" parameterType="Ticket">
		update ticket set agegroup_no=#{agegroup_no} , site_no=#{site_no},ticket_price=#{ticket_price}
	</update>
	
	<!-- 3.티켓 삭제 -->
	<delete id="deleteTicket" parameterType="int">
		delete from ticket where site_no=#{site_no}
	</delete>
	
	<!-- 4.관광지별 티켓 조회 -->
	<select id="selectTicket" parameterType="int" resultType="Ticket">
		select * from ticket where site_no=#{site_no}
	</select>
</mapper>