@CHARSET "UTF-8";
	.carousel-inner img {
    	width: 70%; /* Set width to 100% */
    	margin: auto;
	}
	@media (max-width: 600px) {
    	.carousel-caption {
        	display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    	}
	}